[submodule "borze-notify"]
	path = borze-notify
	url = git@github.com:robence/borze-notify.git
[submodule "RSS-Scrape"]
	path = RSS-Scrape
	url = git@github.com:robence/RSS-Scrape.git
[submodule "rss-scrape"]
	path = rss-scrape
	url = git@github.com:robence/rss-scrape.git
[submodule "test-plight"]
	path = test-plight
	url = git@github.com:robence/test-plight
[submodule "cafe-vian"]
	path = cafe-vian
	url = git@github.com:robence/cafe-vian
